@charset "UTF-8";

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin flex($row: row, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-flow: $row nowrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@mixin ellipsis() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin absolute($top: 0, $right: unset, $bottom: unset, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
